:root
{
    --color-background: #282a36;
    --color-background-alt: #383A59;
    --color-text: #f8f8f2;
    --color-pink: #ff79c6;
    --color-cyan: #8be9fd;
}

.text-pink
{
    color: var(--color-pink);
    text-shadow: 0 0 10px var(--color-pink);
}

.text-cyan
{
    color: var(--color-cyan);
    text-shadow: 0 0 10px var(--color-cyan);
}

body
{
    background-color: var(--color-background-alt);
    color: var(--color-text);
    text-shadow: 0 0 10px var(--color-text);
}