@keyframes terminal-blinking
{
    0%
    {
        color: var(--color-text);
    }
    49%
    {
        color: var(--color-text);
    }
    60%
    {
        color: transparent;
    }
    99%
    {
        color: transparent;
    }
    100%
    {
        color: var(--color-text);
    }
}

.terminal
{
    min-width: 50vw;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
}

.terminal-body
{
    background-color: var(--color-background);
    padding: 6px;
}

.terminal-blinking
{
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-name: terminal-blinking;
    text-shadow: none;
}