*
{
    a,
    a:visited
    {
        text-decoration: none;
    }
}

html
{
    font-size: 1.5em;
    height: 100%;
    overflow: hidden;
}

body
{
    margin: 0;
    height: 100%;
}

main
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: url($wall) center;
}

.top-bar
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    background-color: $base00;
    color: $base07;
    font-family: sans-serif;
    font-size: 0.7em;
    font-weight: bold;
    width: 100%;
    height: 24px;
    z-index: 15;

    span:hover, svg:hover
    {
        color: $textColor;
    }

    #time
    {
        flex: 0 1 auto;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    #appname
    {
        flex: 0 1 auto;
        margin-left: 5px;
        &::before
        {
            content: "Terminal";
        }
    }
    #status-icons
    {
        height: 100%;
        margin-right: 8px;
        margin-left: auto;

        svg
        {
            fill: $base07;

            &:hover
            {
                fill: $textColor;
            }
        }

        span
        {
            height: 100%;
            display: none;
        }

        .status-icon-text
        {
            display: inline;
            line-height: 24px;
            float: right;
        }
    }
}

.terminal
{
    background-color: rgba(29, 31, 33, .7);
    box-shadow:0 1px 0 rgba(0,0,0,0.3);
    font-family: monospace;
    font-size: 1.2em;
    color: $textColor;
    width: 725px;
    height: 425px + 25px;
    z-index: 15;

    .terminal-title-bar
    {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-color: $terminalTitleBG;
        width: 100%;
        height: 25px;
        z-index: 20;

        #terminal-close-button
        {
            &::before
            {
                content: "●";
            }
            &:hover
            {
                color: lighten($base01, 10);
            }
            color: $base01;
            margin-right: 5px;
            font-size: 1.2em;
        }
    }

    .prompt
    {
        &::before
        {
            content: "┌ ~ \a └>$ ";
            white-space: pre;
        }

        .blinking-cursor
        {
            &::before
            {
                content: "█";
            }

            -webkit-animation: 1s blink step-end infinite;
            -moz-animation: 1s blink step-end infinite;
            animation: 1s blink step-end infinite;
        }

        @-webkit-keyframes "blink"
        {
          from, to {
            color: transparent;
          }
          50% {
            color: $textColor;
          }
        }

        @-moz-keyframes "blink"
        {
          from, to {
            color: transparent;
          }
          50% {
            color: $textColor;
          }
        }

        @keyframes "blink"
        {
          from, to {
            color: transparent;
          }
          50% {
            color: $textColor;
          }
        }
    }

    .prompt-links
    {
        a,
        a:visited
        {
            color: $base04;
            margin-right: 20px;
            outline: none;
        }
        a:hover
        {
            text-decoration: underline;
        }
        margin: 0 0 0 8px;
        padding: 0;
    }
}
