// base16-google-dark

$wall: "http://static.simpledesktops.com/uploads/desktops/2014/04/23/Black_Diamonds.png";

// black
$base00: #1d1f21;
$base08: #969896;
// red
$base01: #cc342b;
$base09: #cc342b;
// green
$base02: #198844;
$base0A: #198844;
// yellow
$base03: #fba922;
$base0B: #fba922;
// blue
$base04: #3971ed;
$base0C: #3971ed;
// magenta
$base05: #a36ac7;
$base0D: #a36ac7;
// cyan
$base06: #3971ed;
$base0E: #3971ed;
// white
$base07: #c5c8c6;
$base0F: #ffffff;

$textColor: $base0F;
$terminalBG: $base00;
$terminalTitleBG: #222D32;
