@import "node_modules/spectre.css/src/spectre.scss";
@import "node_modules/nord/src/sass/nord.scss";

html,
body {
    height: 100%;
}

main {
    width: 90%;
    margin: 0 auto;
}

#background {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

#heading {
    color: $nord4;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.card {
    margin-bottom: 16px;
    border-color: $nord8;
    border-radius: 0;
    background-color: $nord0;
    color: $nord4;
}

.card-header {
    background-color: $nord8;
    color: $nord6;
}

.card-title {
    text-align: center;
    font-weight: bold;
}

.card-links {
    margin: 0;
    list-style: none;
}

.card-links a {
    color: $nord4;
}
