config = {
    "background": "<background-url>",

    "cards": [
        {
            "card-name": "<card-name>",
            "links": [
                {"link-href": "#", "link-display": "Sample Link"}
            ]
        }
    ]
}
