// Catppuccin Macchiato
$rosewater: #f4dbd6;
$flamingo: #f0c6c6;
$pink: #f5bde6;
$mauve: #c6a0f6;
$red: #ed8796;
$maroon: #ee99a0;
$peach: #f5a97f;
$yellow: #eed49f;
$green: #a6da95;
$teal: #8bd5ca;
$sky: #91d7e3;
$sapphire: #7dc4e4;
$blue: #8aadf4;
$lavender: #b7bdf8;
$text: #cad3f5;
$subtext1: #b8c0e0;
$subtext0: #a5adcb;
$overlay2: #939ab7;
$overlay1: #8087a2;
$overlay0: #6e738d;
$surface2: #5b6078;
$surface1: #494d64;
$surface0: #363a4f;
$base: #24273a;
$mantle: #1e2030;
$crust: #181926;

$colors: ("rosewater": #f4dbd6,
    "flamingo": #f0c6c6,
    "pink": #f5bde6,
    "mauve": #c6a0f6,
    "red": #ed8796,
    "maroon": #ee99a0,
    "peach": #f5a97f,
    "yellow": #eed49f,
    "green": #a6da95,
    "teal": #8bd5ca,
    "sky": #91d7e3,
    "sapphire": #7dc4e4,
    "blue": #8aadf4,
    "lavender": #b7bdf8,
);

@each $name, $hex in $colors {
    .#{$name} {
        background-color: #{$hex};
    }
}

body {
    margin-top: 100px;
    background-color: $crust;
    color: $text;
    font-family: "Noto Sans";
}

.link {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: .5em;
    color: $base;
    text-decoration: none;
    font-size: 1.5rem;

    &:hover {
        text-decoration: underline;
    }
}
