:root
{
    --color-background: #282a36;
    --color-text: #f8f8f2;
    --color-pink: #ff79c6;
    --color-purple: #bd93f9;
    --color-cyan: #8be9fd;
    --color-red: #ff5555;
    --color-yellow: #f1fa8c;
}

.pink
{
    color: var(--color-pink);
}

.purple
{
    color: var(--color-purple);
}

.yellow
{
    color: var(--color-yellow);
}

body
{
    font-family: "JetBrains Mono", monospace, monospace;
    background-color: var(--color-background);
    color: var(--color-text);
    width: 50%;
    margin: 0 auto;
    margin-top: 12px;
}

ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}

li::before
{
    content: "\00a0\00a0\00a0\00a0";
}

a
{
    text-decoration: none;
    color: inherit;
}

@media only screen and (max-device-width: 576px)
{
    body
    {
        width: 100%;
        margin-left: 12px;
    }
}