// Catppuccin Mocha
$rosewater: #f5e0dc;
$flamingo: #f2cdcd;
$pink: #f5c2e7;
$mauve: #cba6f7;
$red: #f38ba8;
$maroon: #eba0ac;
$peach: #fab387;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$sky: #89dceb;
$sapphire: #74c7ec;
$blue: #89b4fa;
$lavender: #b4befe;
$text: #cdd6f4;
$base: #1e1e2e;

$colors: (
    "rosewater": $rosewater,
    "flamingo": $flamingo,
    "pink": $pink,
    "mauve": $mauve,
    "red": $red,
    "maroon": $maroon,
    "peach": $peach,
    "yellow": $yellow,
    "green": $green,
    "teal": $teal,
    "sky": $sky,
    "sapphire": $sapphire,
    "blue": $blue,
    "lavender": $lavender,
);

@each $name,
$hex in $colors {
    .#{$name} {
        background-color: #{$hex};
    }
}

body {
    width: 60%;
    margin: 0 auto;
    background-color: $base;
    color: $text;
    font-family: "Noto Sans";
}

header {
    height: 128px;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
    gap: 8px;
}

.link {
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: .5em;
    color: $base;
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
}
