:root
{
    --color-background: #282a36;
    --color-background-alt: #383A59;
    --color-text: #f8f8f2;
    --color-pink: #ff79c6;
    --color-purple: #bd93f9;
    --color-cyan: #8be9fd;
    --color-red: #ff5555;
}

body
{
    font-family: "JetBrains Mono", monospace, monospace;
    background-color: var(--color-background-alt);
    color: var(--color-text);
    display: flex;
    width: 50%;
    height: 100vh;
    margin: 0 auto;
    align-items: center;
    overflow: hidden;
}