:root
{
    --color-base: #2d2d2d;
    --color-background: #353535;
    --color-foreground: #f8f8f2;
    --color-link: #3584e4;
}

body
{
    background-color: var(--color-base);
    color: var(--color-foreground);
    margin: 0 auto;
    width: 80%;
}

main
{
    display: grid;
    margin: 18px;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 12px;
}

.title
{
    text-align: center;
    margin: 18px;
}

.link
{
    display: inline-block;
    margin: 0 auto;
}

.link a
{
    display: inline-block;
    color: var(--color-link);
    text-decoration: none;
    font-weight: bold;
}

.link a:focus
{
    outline: none;
}

.link img
{
    display: block;
    margin: 0 auto;
}

.link span
{
    display: block;
    text-align: center;
    margin-top: 6px;
}