@import url(https://fonts.googleapis.com/css?family=VT323);

:root {
    --color-background: rgba(40, 42, 54, 0.95);
    --color-background-light: #44475a;
    --color-background-lighter: #6272a4;
    --color-foreground: #f8f8f2;
    --color-cyan: #8be9fd;
    --color-green: #50fa7b;
    --color-orange: #ffb86c;
    --color-pink: #ff79c6;
    --color-purple: #bd93f9;
    --color-red: #ff5555;
    --color-yellow: #f1fa8c;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0 auto;
    /* background-image: url(""); */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--color-background-light);
    font-family: 'VT323', monospace;
}

#links-outer {
    background-color: var(--color-background);
    border-color: var(--color-purple);
    border-width: 2px;
    border-style: solid;
    padding: 5em;
}

#links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 0.5em;
    grid-column-gap: 10em;
}

.link {
    list-style: none;
    font-size: 2em;
}

.link a {
    color: var(--color-foreground);
    text-decoration: none;
    outline: none;
}

.link a:hover {
    color: var(--color-pink);
}
