:root {
    --color-background: #282A36;
    --color-background-light: #44475a;
    --color-background-lighter: #6272a4;
    --color-foreground: #f8f8f2;
    --color-cyan: #8be9fd;
    --color-green: #50fa7b;
    --color-orange: #ffb86c;
    --color-pink: #ff79c6;
    --color-purple: #bd93f9;
    --color-red: #ff5555;
    --color-yellow: #f1fa8c;
}

body {
    width: 60%;
    margin: 0 auto;
    background-color: var(--color-background);
    color: var(--color-foreground);
}

hr {
    color: var(--color-background-lighter);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 6px;
}

li:hover {
    background-color: var(--color-background-light);
}

a {
    color: var(--color-cyan);
    text-decoration: none;
    font-size: 1.25em;
    outline: none;
    width: 95%;
    display: inline-block;
}

.column-header {
    font-weight: bold;
}