$black: #272822;
$red: #f92672;
$green: #a6e22e;
$orange: #f4bf75;
$blue: #66d9ef;
$purple: #ae81ff;
$turquoise: #a1efe4;

$background: #1c1c1c;
$text: #eeeeee;

body {
    font-family: "JetBrains Mono", monospace;
    font-size: 2em;
    background-color: $background;
    color: $text;
}

main {
    margin: 2em 2em;
}

a {
    text-decoration: none;
    color: $blue;

    &:hover {
        text-decoration: underline;
    }
}

.prompt-path {
    color: $purple;
    font-weight: bold;
}

.prompt-command {
    color: $red;

    &::first-letter {
        font-weight: bold;
    }
}

.prompt-command-args {
    color: $green;
}
