<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Startpage</title>
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <main>

    <div class="prompt-path">~</div>
    <div class="prompt-command">
      ϝ startpage <span class="prompt-command-args">list</span>
    </div>

    <div class="prompt-url-list">
      {{ range . }}
        <a href="https://{{ .URL }}">{{ .Title }}</a>
      {{ end }}
    </div>

    </main>
  </body>
</html>
