:root {
  --rosewater: #f5e0dc;
  --flamingo: #f2cdcd;
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --peach: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --sky: #89dceb;
  --sapphire: #74c7ec;
  --blue: #89b4fa;
  --lavender: #b4befe;
  --text: #cdd6f4;
  --base: #1e1e2e;
  --mantle: #181825;
  --crust: #11111b;
}

body {
  width: 80%;
  margin: 0 auto;
  background-color: var(--crust);
  color: var(--text);
  font-family: sans-serif;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
  gap: 8px;
}

h1, h2 {
  text-align: center;
}

a {
  color: var(--text);
  text-decoration: underline;
  text-decoration-style: dotted;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.widget {
  background-color: var(--base);
  min-height: 256px;
  border-radius: 0.5em;
  border-color: var(--mantle);
  border-width: 3px;
  border-style: solid;
}
