html
{
    background-image: url("/wallpaper.png");
    background-position: center;
    background-size: contain;
    height: 100vh;

    overflow: hidden;
}

.dock
{
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 0;
    right: 50%;

    width: 60%;
    height: 124px;

    margin-right: -30%;

    span
    {
        padding-left: 6px;
        padding-right: 6px;
    }
}