@mixin text-color($color)
{
    color: $color;
    text-shadow: 0 0 10px $color;
}

body
{
    background-color: #282a36;
    @include text-color(#f8f8f2);
    font-family: "JetBrains Mono", monospace, monospace;
}

.text-pink
{
    @include text-color(#ff79c6);
}

.text-cyan
{
    @include text-color(#8be9fd);
}