config = {
    "background": "<background-url>",
    "heading-color": "<heading-color>",

    "cards": [
        {
            "name": "<group-name>",
            "links": [
                {"link-href": "#", "link-display": "Sample Link"}
            ]
        }
    ]
}
