:root
{
    --colour-background: #171717;
    --colour-text: #ffffff;
    --colour-red: #f34b7d;
    --colour-green: #70c989;
}

html
{
    background-color: var(--colour-background);
    color: var(--colour-text);
}