@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root
{
    --colour-background: #171717;
    --colour-text: #ffffff;
    --colour-red: #f34b7d;
    --colour-green: #70c989;
}

html
{
    width: 80%;
    margin: 0 auto;
    background-color: var(--colour-background);
    color: var(--colour-text);
}

header
{
    height: 128px;

    display: flex;
    align-items: center;
    justify-content: center;
}

header h1
{
    font-family: "Bebas Neue";
    font-size: 5em;
}