@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root
{
    --colour-background: #171717;
    --colour-grey: #2a3840;
    --colour-text: #ffffff;
    --colour-red: #f34b7d;
    --colour-green: #70c989;
}

html
{
    background-color: var(--colour-background);
    color: var(--colour-text);
    font-family: "Roboto", sans-serif;
}

header
{
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title
{
    font-size: 5em;
    font-weight: 300;
}

.flip
{
    display: inline-block;
    transform: rotate(180deg);
}

.text-red
{
    color: var(--colour-red)
}

.text-green
{
    color: var(--colour-green)
}

main
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
}

.item
{
    background-color: var(--colour-grey);
}

.item a
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 256px;
    height: 256px;
    color: inherit;
    text-decoration: none;
}