@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

$colours: (
    background: #171717,
    grey: #2a3840,
    text: #ffffff,
    red: #f34b7d,
    green: #70c989,
    blue: #3581ba
);

html
{
    background-color: map-get($colours, "background");
    color: map-get($colours, "text");
    font-family: "Roboto", sans-serif;
}

header
{
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
}

.title
{
    font-size: 5em;
    font-weight: 300;
}

.flip
{
    display: inline-block;
    transform: rotate(180deg);
}