@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

$colours: (
    background: #171717,
    grey: #2a3840,
    text: #ffffff,
    red: #f34b7d,
    green: #70c989,
    blue: #3581ba
);

@mixin text-colour
{
    @each $name, $hex in $colours
    {
        .text-#{$name}
        {
            color: $hex;
        }
    }
} @include text-colour();

@function get-colour($colour)
{
    @return map-get($colours, $colour);
}

html
{
    background-color: get-colour(background);
    color: get-colour(text);
    font-family: "Roboto", sans-serif;
}

header
{
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
}

.title
{
    font-size: 5em;
    font-weight: 300;
}

.flip
{
    display: inline-block;
    transform: rotate(180deg);
}

.item
{
    background-color: get-colour(grey);
    background-position: 0% 5%;
    transition: background-position 0.5s;
    background-size: 100% 200%;

    @mixin gradient($colour)
    {
        background-image: linear-gradient(to top, map-get($colours, $colour) 50%, map-get($colours, grey) 50%);
    }

    &:nth-child(1n)
    {
        @include gradient(red);
    }

    &:nth-child(2n)
    {
        @include gradient(green);
    }

    &:nth-child(3n)
    {
        @include gradient(blue);
    }

    &:hover
    {
        background-position: 0 100%;
    }

    a
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 256px;
        height: 256px;
        color: inherit;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.5em;
    }
}