@import url(https://fonts.googleapis.com/css?family=VT323);

:root {
    --color-background: #282a36;
    --color-background-light: #44475a;
    --color-background-lighter: #6272a4;
    --color-foreground: #f8f8f2;
    --color-cyan: #8be9fd;
    --color-green: #50fa7b;
    --color-orange: #ffb86c;
    --color-pink: #ff79c6;
    --color-purple: #bd93f9;
    --color-red: #ff5555;
    --color-yellow: #f1fa8c;

    --size-link: 4em;
    --size-spacing: 0.5rem;
}

body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: 'VT323', monospace;
}

#links {
}

.link {
    font-size: var(--size-link);
    text-decoration: none;
    outline: none;
}

.link:hover {
    color: var(--color-pink);
}
